
@media (max-width: 1400px) {
.social-right .row {
	width: 60%;
}


@media (max-width: 1200px) {
.social-right .row {
	width: 75%;
}



@media (max-width: 991px) {

.menu ul{
	display: none;
}
.menu-icon {
	display: block;
}

.video {
	width: 460px;
	height: 320px;
}

	.b-text h2{
	width: 100%;
	font-size: 16px;
}
.social-right .row {
	width: 85%;
}
.f-foot b{
	display: none;
}

@media (max-width: 770px) {
	.form-text {
	display: none;
}


@media (max-width: 720px) {
	.b-text h2{
	width: 100%;
	font-size: 10px;
}
	.video {
	width: 360px;
	height: 280px;
}
.logo{
	width: 35%;
	}

.b-text h2{
	font-size: 18px;
}
.social-right .row {
	width: 80%;
}
.form-text {
	display: none;
}
.f-foot .logo a{
	width: 100%;
	font-size: 11px;
}



@media (max-width: 550px) {
	.video {
	width: 260px;
	height: 220px;
}

.logo{
	width: 55%;
	}
.b-text h2{
	font-size: 12px;
	
}
.b-text {
	width: 100%;
}
.container{
	width: 70%;
	margin: auto;

}
.services img{
	margin: auto;
	width: 90px;
	height: 120px;
}

.services  h2{
	font-size: 35px;
	text-align: center;
}
.services p{
	text-align: center;
	font-size: 16px;
}
.items{
	margin: 15px auto;
	width: 380px;
	height: auto;
}
.video-section .ser-text {
	font-size: 22px;
	text-align: left;

}
.social-right .row {
	width: 100%;
}
.social-left  p{
	padding-top: 10px;
}

.social-right  p{
	padding-top: 0px;
}
.form-text {
	display: none;
}
.f-foot .logo a{
	width: 100%;
	font-size: 10px;
}
.input-btn input{
	width: 50%;
	padding: 0 10px;
}
.Design {
	display: inline-block;
	width: 100%;
}



@media (max-width: 360px) {
	.video iframe{
		width: 100%;
}
.f-foot .logo a{
	width: 100%;
	font-size: 7px;
}
.b-text {
	
	width: 100%;
	margin: 20px 0;
	}
.b-text h2{
	font-size: 8px;
	width: 100%;
	text-align: left;

}
.input-btn input{
	width: 50%;
	padding: 0 10px;
}


@media (max-width: 330px) {
	.video iframe{
		display: none;
}